<div ng-controller="ImgurSearchCtrl" class="container">
  <h1>Search for images...</h1>
  <div class="row">
    <input type="text" placeholder="Puppies, Jeff Goldblum, pineapple..." ng-model="searchText" class="col s6 offset-s2">
    <button class="btn col s1 offset-s1"><i class="material-icons" ng-click="getImages(searchText)">search</i></button>
  </div>

  <div class="image-display">
    <!-- return images from search -->
    <div ng-repeat="imgur in imgurs">
      <div class="row">
        <div class="card">
          <div class="card-image circle">
            <img ng-src="{{imgur.link}}" class="circle responsive-image"></img>
            <div>
        <!--       <select ng-options="cluster.title for cluster in clusters track by cluster.id" ng-model="selectedCluster"> -->
              <div ng-repeat="cluster in clusters"><button class="btn" ng-click="addToCluster(imgur, cluster.id)">{{cluster.title}}</button></div>
            </div>
          </div>

<!--      <li><a href="#/cluster/{{cluster.id}}">
 -->

<!--           <li><a class=btn><i class="material-icons" ng-click="addToCluster(imgur)">add_circle</i></a></li> -->
        </div>
      </div>
    </div>
  </div>

</div>