@import "../modules/colors";
@import "../modules/text";

body {
  background-color: $background-color;
  color: $standard-text-color;
}

h1 {
  font-family: $heading-text;
  font-weight: 700;
}

h2, h3 {
  font-family: $heading-text;
}

p {
  font-family: $standard-text;
}

input {
  border-bottom: $accent-color;
}

div {
  img {
    // border-radius: 30%;
    width: 100%;
  }
}

.btn {
  font-family:  $standard-text;
  font-weight: 600;
  background-color: $accent-color;
  margin: 2%;
}