body {
  background-color: #1a237e;
  color: #fff; }

h1 {
  font-family: "Oleo Script Swash Caps", cursive;
  font-weight: 700; }

h2, h3 {
  font-family: "Oleo Script Swash Caps", cursive; }

p {
  font-family: "Poppins", sans-serif; }

input {
  border-bottom: #536dfe; }

div img {
  border-radius: 25%; }

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: #536dfe;
  margin: 2%; }

.brand-logo {
  font-family: "Oleo Script Swash Caps", cursive; }

a {
  font-family: "Poppins", sans-serif; }

.nav-wrapper {
  background-color: #fff; }
  .nav-wrapper a {
    color: #19588D; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.footer-copyright {
  font-size: .8em;
  text-align: center;
  font-family: "Poppins", sans-serif; }
