h1 {
  font-family: "Oleo Script Swash Caps", cursive;
  font-weight: 700; }

h2, h3 {
  font-family: "Oleo Script Swash Caps", cursive; }

p {
  font-family: "Poppins", sans-serif; }

div img {
  width: 100%; }

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 2%; }

.brand-logo {
  font-family: "Oleo Script Swash Caps", cursive; }

a {
  font-family: "Poppins", sans-serif; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.footer-copyright {
  font-size: .8em;
  text-align: center;
  font-family: "Poppins", sans-serif; }
